---
import "../styles/global.css";
interface Props {
    title: string;
}
const { title } = Astro.props;
import "../styles/global.css";
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    </head>
    <body class="bg-white text-gray-900 font-sans">
        <main class="max-w-md mx-auto mt-20 p-6 bg-white">
            <slot />
        </main>
    </body>
</html>
